<div id="chat-container">
  <p id="header">Welcome to SimpleChat:<p>
  <br>
  <br>
  <span id="chat"></span>
  <hr>
  Message:
  <br>
  <textarea id="msg" style="width:380px; height: 80px;"></textarea>
  <hr>
  <button id="send">Send</button>
  <script>
    $(document).ready(function(){
      App.chat.received = function(data){
        $("#chat").append(data['message']+"<br>")
      }
      $("#send").click(function(){
          msg = $("#msg").val()
          App.chat.send_msg(msg)
      })
    })
  </script>
  <div id="footer">
    <p id="copyright">© SimpleChat 2020</p>
    <p id="copyright-2">Developed by Cindy Kuo</p>
    <div id="footer-social">
      <a href="https://www.linkedin.com/in/cindy-kuo-92621a1a5/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/ckuo15" target="_blank"><i class="fab fa-github-square"></i></a>
      <a href="https://www.cindycwkuo.com/" target="_blank"><i class="fas fa-user-alt"></i></a>
      <a href="https://angel.co/u/cindy-kuo-2" target="_blank"><i class="fab fa-angellist"></i></a>
    </div>
  </div>
</div>